<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Photo &mdash; HoaiPhung </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/resources/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/lightgallery.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/resources/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/resources/css/swiper.css}">
    <link rel="stylesheet" th:href="@{/resources/css/aos.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">

</head>

<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner">

        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6 col-xl-2" data-aos="fade-down">
                    <h1 class="mb-0"><a href="/index" class="text-black h2 mb-0">Hoai Phung</a></h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
<!--                            <li class="active"><a href="/index">Home</a></li>-->
                            <li class="has-children active">
                                <a href="/index">Home</a>
                                <ul class="dropdown">
                                    <th:block th:each="categoryLists : ${categoryList}">
                                        <li><a th:href="@{/album/__${categoryLists.id}__ }"
                                               th:text="${categoryLists.name}"></a></li>
                                    </th:block>
                                </ul>
                            </li>
                            <th:block th:unless="${#lists.isEmpty(session.myUser)}">
                                <li><a href="/categories">manager</a></li>
                            </th:block>

<!--                            <li><a href="about.html">About</a></li>-->
<!--                            <li><a href="contact.html">Contact</a></li>-->
                            <!--                        <li><a href="" data-toggle="modal" data-target="#modalLoginAvatar">Login</a></li>-->
                            <li class="has-children">
                                <a href="" data-toggle="modal" data-target="#modalLoginAvatar">Login</a>
                                <ul class="dropdown">
                                    <li><a data-toggle="modal" data-target="#modalLoginAvatarRegister">Register</a></li>
                                    <th:block th:unless="${#lists.isEmpty(session.myUser)}">
                                    <li><a href="/logout">Logout</a></li>
                                    </th:block>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                    <div class="d-none d-xl-inline-block">
                        <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0"
                            data-class="social">
                            <li>
                                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            </li>
                            <li>
                                <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                            href="#" class="site-menu-toggle js-menu-toggle text-black"><span
                            class="icon-menu h3"></span></a></div>
                </div>
            </div>
        </div>

    </header>

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
        <div class="swiper-container images-carousel">
            <div class="swiper-wrapper">
                <th:block th:each="categoryLists : ${categoryList}">
                    <div class="swiper-slide">
                        <a th:href="@{/viewCate/__${categoryLists.id}__ }">
                            <div class="image-wrap">
                                <div class="image-info">
                                    <h2 class="mb-3">
                                        <td th:text="${categoryLists.name}"></td>
                                    </h2>
                                    <a th:href="@{/album/__${categoryLists.id}__ }"
                                       class="btn btn-outline-white py-2 px-4" th:text="${categoryLists.name}">
                                        Photos</a>
                                </div>
                                <img th:src="@{'/imageCate/'+ ${categoryLists.imageCate}}" alt="Image"
                                     th:href="@{/nature/__${categoryLists.id}__ }">
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <!--        -->
    <div class="footer py-4">
        <div class="container-fluid">
            <p>
                Copyright &copy;
                <script data-cfasync="false"
                        th:src="@{/resources/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
        </div>
    </div>
</div>
<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img th:src="@{/resources/images/login.png}" alt="avatar" class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <form th:action="@{/login}" method="post">
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">Phung Admin</h5>
                    <div class="md-form ml-0 mr-0">
                        <input type="text" name="name" class="form-control form-control-sm validate ml-0"
                               value="admin" placeholder="username" pattern="[a-z]{5,20}" title="Max Length 5-20" required>
                    </div>

                    <div class="md-form ml-0 mr-0 mt-2">
                        <input type="password" name="password" class="form-control form-control-sm validate ml-0"
                               placeholder="Enter your password" pattern="{6,20}" title="Max Length 6-20" required>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success">Login<i class="fas fa-sign-in ml-1"></i></button>
                    </div>
                </div>
            </form>
            <!--Body-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register with Avatar Form-->
<div class="modal fade" id="modalLoginAvatarRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img th:src="@{/resources/images/login.png}" alt="avatar" class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <form th:action="@{/register}" method="post">
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">Register</h5>
                    <div class="md-form ml-0 mr-0 ">
                        <input type="text" name="name" class="form-control form-control-sm validate ml-0"
                               value="admin" placeholder="username" pattern="[a-z]{5,20}" title="Max Length 5-20">
                    </div>

                    <div class="md-form ml-0 mr-0 mt-2">
                        <input type="password" name="password" class="form-control form-control-sm validate ml-0"
                               placeholder="Enter your password" pattern="{6,20}" title="Max Length 6-20">
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success">Register<i class="fas fa-sign-in ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register with Avatar Form-->

<script th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/resources/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/resources/js/jquery-ui.js}"></script>
<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/owl.carousel.min.js}"></script>
<script th:src="@{/resources/js/jquery.stellar.min.js}"></script>
<script th:src="@{/resources/js/jquery.countdown.min.js}"></script>
<script th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/resources/js/swiper.min.js}"></script>
<script th:src="@{/resources/js/aos.js}"></script>
<script th:src="@{/resources/js/picturefill.min.js}"></script>
<script th:src="@{/resources/js/lightgallery-all.min.js}"></script>
<script th:src="@{/resources/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/resources/js/main.js}"></script>

<script>
    $(document).ready(function () {
        $('#lightgallery').lightGallery();
    });
</script>

</body>

</html>